.words {
    font-weight: bold;
    color: aliceblue;
}

.master {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
    padding-top: 15%;
}

body {
    background-image: url("1.jpg");
    background-size: 100%;
}
